@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}

.option.active {
  position: relative;
}

.active {
  border-bottom: 4px solid #bee425;
}

.option.active::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px; /* Added explicit height */
  border-radius: 50%;
  background-color: #ffff;
  /* Ensuring compatibility */
  -webkit-transform: translateY(-50%); /* Vendor prefix for transform */
  /* z-index or other stacking context adjustments if needed */
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #dadada;
  border-radius: 4px;
}
